
# Created by https://www.gitignore.io/api/jupyter,python3
# Edit at https://www.gitignore.io/?templates=jupyter,python3

#!! ERROR: jupyter is undefined. Use list command to see defined gitignore types !!#

#!! ERROR: python3 is undefined. Use list command to see defined gitignore types !!#

# End of https://www.gitignore.io/api/jupyter,python3
